@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .heroButton {
    @apply px-6 py-2 border border-[#242424] rounded-full uppercase 
    text-xs tracking-widest text-gray-500 transition-all 
    hover:border-[#F7AB0A]/40 hover:text-[#F7AB0A]/40 
  }
  .toptitle {
    @apply absolute top-12 md:text-2xl uppercase 
    tracking-[20px] text-gray-500 
  }
  .screenLayoutExpProj {
    @apply text-left relative mx-auto flex h-screen max-w-full flex-col
    items-center justify-evenly overflow-hidden px-10 md:flex-row
  }
  .contactInput {
    @apply w-full h-auto outline-none bg-slate-400/10 rounded-md border-b px-5 
    py-4 border-[#242424] text-gray-500 placeholder-gray-500 
    transition-all focus:border-[#F7AB0A]/40 focus:text-[#F7AB0A]/40
  }
  .contactButtonStyles {
    @apply animate-pulse bg-[#F7AB0A];
  }
}

html {
  @apply scrollbar;
}

body {
  @apply scrollbar;
}

.scrollbar {
  scroll-behavior: smooth;
}

.scrollbar::-webkit-scrollbar-track {
  background-color: rgb(36,36,36);
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 20px;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.scrollbar::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

@media (max-width: 425px) {
  .scrollbar::-webkit-scrollbar {
    width: 3px;
    height: 3px;
  }
}